// mixins
@mixin fixedTypographyStyle() {
  line-height: 160%;
  padding: 0;
  margin: 0;
}

@mixin fixedTitleLineHeight() {
  line-height: 140%;
}

@mixin fixedTextLineHeight() {
  line-height: 160%;
}

@mixin defaultTypographyStyle($color, $fontSize, $fontFamily) {
  color: $color;
  font-size: $fontSize;
  font-family: $fontFamily;
  @include fixedTypographyStyle;
}

@mixin titleSpecialCaseStyle(
  $color,
  $first-gradient-color,
  $second-gradient-color,
  $stroke-size,
  $fontSize
) {
  color: $color !important;
  background: -webkit-linear-gradient(
                  $first-gradient-color,
                  $second-gradient-color
  ) no-repeat;
  -webkit-background-clip: text;
  -webkit-text-stroke: $stroke-size transparent;
  font-size: $fontSize;
}

@mixin media-query($size) {

  @if $size == large-Desktop {

    @media (min-width: 1440px) {

      @content;

    }

  } @else if $size == laptop {

    @media (max-width: 1439px) and (min-width: 992px) {

      @content;

    }
    // TODO
  } @else if $size == tablet {

    @media (max-width: 991px) and (min-width: 576px) {

      @content;

    }

  } @else if $size == tablet-and-mobile {

    @media (max-width: 991px) {

      @content;

    }

  } @else if $size == mobile {

    @media (max-width: 575px) {

      @content;

    }

  } @else if $size == is-not-mobile {

    @media (min-width: 576px) {

      @content;

    }

  }

}

/* end mixin for media queries */