@import "../../Styles/Variables/_fonts.module.scss";
@import "../../Styles/Helpers/mixins";

.ant-layout{
  
background-color: #f5f6fa !important;
}

.page-container {
  //min-width: 280px;

background-color: #f5f6fa;
  max-width: 1440px;
  margin: auto;

  margin-bottom: 80px !important;
.ant-breadcrumb *{
  font-size: 12px;
  color: #343434;
  .home-icon *{
    color: #3b86ff !important;
    margin-right: 6px;
  }
}
}

.layout-container {
  flex-direction: column;
  display: flex;
  height: 100vh;
  // height: 100%;
  .layout-content{
    flex: auto;
    align-items: stretch;
  }

.layout-header-parent-container{

  width: 100%;
}



}


.layout-content {
  grid-area: content;
  min-height: 45.8vw;
  padding-inline:40px ;
  z-index: 0;
  background-color: #f5f6fa ;

  &.hide-content {
    display: none;
  }
}

