@import "../../../Styles/Variables/fonts.module";



.services-container {
    max-height: 50vh;
    overflow: auto;
  text-align: left;
  * {
    font-size: 12px;
  }

  .ant-collapse{
    border: none;
    margin-top: 28px;
  }
  .service-item {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  .ant-collapse-header {
    align-items: center !important;
    padding: 4px 12px !important;
    background-color: #FFF;
    border-radius: 10px;
    border: none;
    &:has(.ant-checkbox-wrapper-checked){
        background-color: #f5f9ff;
        border-radius: 10px;
    }
  }
  .ant-collapse-content-box .service-item{
    padding-left: 32px;
    &:has(.ant-checkbox-wrapper-checked){
    background-color: #f5f9ff;
    border-radius: 10px;}
}

  
  .ant-collapse-content-box{
    padding: 4px 0 4px 10px !important;
  }
  .actions-container {
    button {
      padding-inline: 4px !important;
    }
  }
}


.service-title {
  position: relative;
  width: fit-content;
  font-family: $bold-font-family;
  margin-bottom: 20px !important;
  &::after {
    position: absolute;
    content: "";
    border-radius: 6px;
    width: 50%;
    height: 5px;
    background-color: #3b86ff;
    bottom: -6px;
    left: 0;
  }
}
