$regular-font-family: comfortaa-regular;
$semi-bold-font-family: comfortaa-semibold;
$bold-font-family: comfortaa-bold;


@font-face {
  font-family: "comfortaa-regular";
  src: url("../Fonts/Comfortaa-Regular.ttf");
}

@font-face {
  font-family: "comfortaa-medium";
  src: url("../Fonts/Comfortaa-Medium.ttf");
}

@font-face {
  font-family: "comfortaa-bold";
  src: url("../Fonts/Comfortaa-Bold.ttf");
}

@font-face {
  font-family: "comfortaa-semibold";
  src: url("../Fonts/Comfortaa-SemiBold.ttf");
}
